<div class="side-bar col-lg-4">

                    <div class="search-bar w3layouts-newsletter">
                        <h3 class="sear-head editContent" style="outline: none; cursor: inherit;">
                            Поиск книги</h3>
                        <form action="{% url 'search'  %}" method="get" class="d-flex editContent"
                              style="outline: none; cursor: inherit;">
                            <input type="search" placeholder="Введите название..." name="q"
                                   class="form-control" required="">
                            <button type="submit" class="btn1 btn" style="outline: none; cursor: inherit;"><span
                                    class="fa fa-search" aria-hidden="true"
                                    style="outline: none; cursor: inherit;"></span></button>
                        </form>
                    </div>
                    <!--preference -->
                    
                    <!-- // preference -->
                    <!-- discounts -->
                    
                    <!-- //discounts -->
                    <!-- reviews -->
                    
                    <!-- //reviews -->
                    <!-- deals -->
                   
                    <!-- //deals -->
                    <!-- //deals -->

                </div>